@model List<Slider>
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="mt-2 d-flex" style="justify-content:flex-end">
        <a asp-controller="slider" asp-action="Create" class="btn btn-primary btn-icon-text">
            <i class="mdi mdi-upload btn-icon-prepend"></i> CREATE
        </a>
    </div>


    <table class="table table-dark mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Signature</th>
                <th scope="col">Settings</th>


            </tr>
        </thead>
        <tbody>
            @foreach (Slider slider in Model)
            {
            <tr>
                <th scope="row">@slider.Id</th>
                <td><img style="width:100px;height:100px;object-fit:contain" src="~/assets/images/@slider.Image" /></td>
                <td>@slider.Title</td>
                <td>@slider.SubTitle.Substring(0,25)...</td>

                <td><img style="width:100px;height:80px;object-fit:contain" src="@slider.Signature" /></td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@slider.Id" class="btn btn-warning btn-icon-text">
                        <i class="mdi mdi-file-check btn-icon-append"></i>
                        Edit
                    </a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

