@model Flower
<main>
    <section id="secondpageintroduce">
        <div class="container">
            <div class="col-lg-12 info">
                <div class="title">
                    <h1>
                        Product List
                    </h1>
                </div>
                <div class="desc">
                    <p>Where flowers are our inspiration</p>
                </div>
            </div>
        </div>
    </section>

    <section id="orangeamarylls">
        <div class="container">
            <div class="row">
                <div class="images col-lg-6 col-md-12 col-12">
                    <div class="littleImages">
                        @foreach (FlowerImage flowerImage in Model.FlowerImages.Where(i=>i.IsMain==false))
                        {
                            <div class="littleimage"><img src="@flowerImage.Image" alt=""></div>
                        }
                    </div>
                    <div class="bigImage">
                        <img src="@Model.FlowerImages.FirstOrDefault(i=>i.IsMain==true).Image" alt="">
                    </div>
                </div>
                <div class="infos col-lg-6 col-md-12 col-12">
                    <div class="info">
                        <div class="title">
                            <h1>@Model.Name</h1>
                        </div>
                        <div class="price">
                            <p>$@Model.Price</p>
                        </div>
                        <div class="desc">
                            <p>
                               @Model.Desc
                            </p>
                        </div>
                        <div class="button">
                            <input type="text" placeholder="Quantity">
                            <div class="counter">
                                <i class="fas fa-chevron-left minus"></i><span class="counting">0</span><i class="fas fa-chevron-right plus"></i>
                            </div>
                            <button type="button">ADD TO CART <span></span></button>
                        </div>
                        <div class="details">
                            <span>SKU: <a href="">@Model.Code</a></span>
                            <span>Categories: <a href="">@foreach (FlowerCategory flowerCategory in Model.FlowerCategories)
                            {
                                @(flowerCategory.Category.Name + " ")
                            }</a></span>
                            <span>Tags: <a href=""> Lilies, Orchids</a></span>
                            <span style="color:@(Model.InStock ? "green" : "red")" )>
                                @(Model.InStock ? "In Stock" : "Out of stock")


                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="tabs">
        <div class="container">


            <div class="row titles">
                <div data-id="powerofflower" class="col-lg-2 col-md-2 col-5 title">
                    <button style="border-top: none !important;" type="button" class="activeTab"><span>DESCRIPTION</span></button>
                </div>
                <div data-id="additional" class="col-lg-3 col-md-3 col-8 title">
                    <button style="border-top: none !important;border-left: none !important;border-right: none !important;" type="button"><span>ADDITIONAL INFORMATION</span></button>
                </div>
                <div data-id="reviews" class="col-lg-2 col-md-4 col-5 title">
                    <button style="border-top: none !important;" type="button"><span>REVIEWS @Model.Comments.Where(c=>c.IsAcces==true).Count() </span></button>
                </div>
            </div>


            <div class="row paragraphs">
                <div class="col-lg-12 powerofflower active">
                    <div class="title">
                        <h1>The power of flowers</h1>
                    </div>
                    <div class="desc">
                        <p>
                            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla
                            ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel
                            augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas
                            tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
                            neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
                            Maecenas nec odio et ante
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 additional">
                    <span style="font-weight: bolder;">Weight:</span><span style="margin-left: 10px;">@Model.Weight</span><br>
                    <span style="font-weight: bolder;">Dimensions:</span><span style="margin-left: 10px;">
                       @Model.Dimensions
                    </span>
                </div>
                <div class="col-lg-12 reviews">
                    <div class="title">
                        <h3>Reviews</h3>
                    </div>
                    @foreach (Comment comment in Model.Comments)
                    {
                        if (comment.IsAcces == true)
                        {
                            <div class="review">

                                <div class="info">
                                    <span>@comment.AppUser.Fullname</span> <span>@comment.CreatedTime.ToString("dd MMMM yyyy : hh mm")</span>
                                    <p>
                                        @comment.Text
                                    </p>
                                    @if (comment.AppUser.UserName == User.Identity.Name)
                                    {
                                        <a asp-controller="flower" asp-action="DeleteComment" asp-route-id="@comment.Id" style="text-decoration:none" class="text text-danger">DELETE</a>
                                    }

                                </div>

                            </div>
                        }

                    }

                    <div class="forum">
                        <div class="title">
                            <h2>Add a review</h2>
                        </div>
                        <div class="warning">
                            <span>
                                Your email address will not be published. Required fields are marked *

                            </span>
                        </div>
                        <form asp-action="AddComment" method="post">
                            <label asp-for="@Model.Comments.FirstOrDefault().Text"><span>Your review *</span></label><br>
                            <textarea asp-for="@Model.Comments.FirstOrDefault().Text"></textarea>
                            <input type="hidden" asp-for="@Model.Comments.FirstOrDefault().FlowerId" value="@Model.Id" />

                            <button type="submit"><span>SUBMIT</span></button>
                        </form>
                    @*<form method="post" id="comment-form">
                        <label>message</label>
                        <textarea id="commentText"></textarea>
                        <button type="submit">Submit</button>
                        <input type="hidden"  value="@Model.Id" id="flowerId"/>
                    </form>*@
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="products">
        <div class="container">
            <div class="row">

                <div data-aos="flip-up" data-aos-duration="1000" class="product col-lg-3 col-md-6 popular winter all aos-init">
                    <div class="productImage">
                        <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-14-img.jpg" alt="">

                    </div>
                    <div class="productTitle">
                        <p>MAJESTY PALM</p>
                    </div>
                    <div class="productPrice">
                        <span class="addToCardBtn" data-id="1">Add to cart</span><span>$</span><span>259</span>
                    </div>
                    <div class="addToCart">

                    </div>
                </div>

                <div data-aos="flip-up" data-aos-duration="1000" class="product col-lg-3 col-md-6 popular winter various all aos-init">
                    <div class="productImage">
                        <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-13-img.jpg" alt="">
                    </div>
                    <div class="productTitle">
                        <p>FOXGLOW FLOWER</p>
                    </div>
                    <div class="productPrice">
                        <span class="addToCardBtn" data-id="2">Add to cart</span> <span>$</span><span>259</span>
                    </div>
                    <div>

                    </div>
                </div>

                <div data-aos="flip-up" data-aos-duration="1000" class="product col-lg-3 col-md-6 popular winter all aos-init">
                    <div class="productImage">
                        <img src=" https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-10-img.jpg" alt="">
                        <span class="badge badge-dark bg-dark position-absolute" style=" top:3%;left: 8%;transform: scale(1.3);">SOLD</span>
                    </div>
                    <div class="productTitle">
                        <p>SWEET ALYYSUM</p>
                    </div>
                    <div class="productPrice">
                        <span class="addToCardBtn" data-id="3">Add to cart</span> <span>$</span><span>259</span>
                    </div>
                    <div class="addToCart">

                    </div>
                </div>



                <div data-aos="flip-up" data-aos-duration="1000" class="product col-lg-3 col-md-6 popular all aos-init">
                    <div class="productImage">
                        <img src="   https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-11-img.jpg" alt="">
                    </div>
                    <div class="productTitle">
                        <p>SPRING SNOWFLAKE</p>
                    </div>
                    <div class="productPrice">
                        <span class="addToCardBtn" data-id="4">Add to cart</span> <span>$</span><span>170</span>
                    </div>
                    <div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

@section Scripts{

    <script src="~/assets/js/orangeamarylls.js"></script>
    @*<script>

        const commentForm = document.getElementById("comment-form");
        const flowerId = parseInt(document.getElementById("flowerId").value);
        commentForm.addEventListener("submit", (e) => {
            const commentText = document.getElementById("commentText").value;
            e.preventDefault();

        const comment = { "Text": commentText, "flowerId": flowerId };

            fetch('@Url.ActionLink("AddComment", "Flower")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: comment ? JSON.stringify(comment) : {},
        })
            .then(response => response.json())
               .then(data => {
                //success code
                console.log('Success:', data);
            })
               .catch((error) => {
                //error code
                console.error('Error:', error);
            });
        })
    </script>*@
}